<ul>
  <li>
    <a href="{{ site.url }}{{site.baseurl}}/">Home</a>
  </li>
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}/bsp/">BSP OS porting</a>
  </li>
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}/iot/">Internet Of Things</a>
  </li>  
  
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}/AI/">AI</a>
  </li>
   
  <li>
    <a href="{{ site.url }}{{ site.baseurl }}/doc/">Document & Tools</a>
  </li>
  
  {% if site.email %}
    <li>
      <a href="{{ site.url }}{{site.baseurl}}/contact/">Contact</a>
    </li>
  {% endif %}
  <!-- <li>
    <a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a>
  </li> -->
</ul>
