<body>
  <div id="NAV">
      <ul>
        <li><a href="/welcome-to-the-desert-of-the-real">Hero SDK</a></li>
      <li><a href="/rico">RICO</a></li>
      </ul>
  </div>
</body>
  <style>




  #NAV{
    width: auto;
    height: 80px;
    background-color: #4000FF;
    margin: 0 auto;
    overflow: hidden;
  }
  

  

  #NAV ul{
  
  }
    
  #NAV li{
    float: left;

list-style-type:none;
  }
  
  #NAV li a{
    display: black;
    width: 192px;
    height: 50px;
    line-height: 10px;
    background-color: #993366;
    font-size: 40px;
    color: #FFF;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
  }
  #NAV li a:hover{
    background:#4000FF;
  
  }
  </style>